:root {
  /* Variables de Color */
  --color-dark-bg: #282c34;
  --color-text-primary: white;
  --color-link-accent: #61dafb;

  --animation-duration: 20s;
  --animation-timing: linear;
}

.App {

  text-align: center;
}

.App-header {
  /* Box Model & Layout */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--color-dark-bg);
  color: var(--color-text-primary);

  font-size: calc(10px + 2vmin);
}

.App-logo {

  height: 40vmin;
  
  pointer-events: none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: 
      App-logo-spin 
      infinite 
      var(--animation-duration) 
      var(--animation-timing);
  }
}

.App-link {
  /* Visual */
  color: var(--color-link-accent);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}